@import 'tailwindcss';

@theme {
  --font-primary: 'Roboto', sans-serif;

  --color-primary: #ea6f33;

  --color-secondary-900: #29334a;
  --color-secondary-500: #2474e1;

  --color-gray-500: #e6e8ea;
  --color-gray-600: #dcdfe3;
  --color-gray-700: #9d9d9e;

  --color-error-500: #c40000;
  --color-error-700: #9f0000;

  --shadow-custom: 0 4px 4px 0 rgb(0 0 0 / 0.25);
}

body {
  @apply min-w-screen min-h-screen font-primary bg-gray-500;
}

* {
  box-sizing: border-box;
  outline: none;
}

p,
span {
  font-size-adjust: 0.5;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
